{% extends 'base.html' %}
{% block title %} Azson的留言区 {% endblock %}
{% block headmessage %}
    <h3 style="font-family: 楷体;">本站留言列表</h3>
{% endblock %}

{% block content %}
    <form name="my form" action="?" method="get">
        现在心情：<br/>
        <div class="radio">
            {% for m in moods %}
                <label>
                    <input type="radio" name="mood" value="{{ m.status }}">
                    {{ m.status }}
                </label>
            {% endfor %}
        </div>
        <br/>
        心情留言板：<br/>
        <textarea id="user_post" name="user_post" class="form-control" rows="3" placeholder="内容长度不超过5000"></textarea><br/>
        <label for="user_id">您的昵称：</label>
        <input id="user_id" type="text" name="user_id">
        <label for="user_pass">您的密码：</label>
        <input id="user_pass" type="password" name="user_pass">
        <button type="submit" class="btn btn-info">张贴 </button>
        <button type="reset" class="btn btn-link">清除内容</button>
    </form>
    <script type="text/javascript">
            $('#user_post').bind('input propertychange',function(){ //添加监听input值的改变事件
            var tvalmum;
             //统计input输入字段的长度
            tvalnum = $(this).val().length;
           //如果大于8个字直接进行字符串截取
            if(tvalnum>5000){
                 var tval = $(this).val();
                 tval = tval.substring(0,5000);
                 $(this).val(tval);
                 alert('内容长度不得超过5000！');
            }
        });
    </script>
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align=center>
                    <h3>留言区~~</h3>
                </div>
            </div>
        </div>
    </div>

    {% for p in posts %}

            <div class="panel panel-primary">
                <div class="panel-heading">★{{ p.nickname }}★ 觉得{{ p.mood }}</div>
                <div class="panel-body">{{ p.message | linebreaks}}</div>
                <div class="panel-footer" align="right"><i><small>{{ p.pub_time }}</small></i></div>
            <span class="glyphicon glyphicon-trash" onclick="go_delete({{ p.id }})"></span>

            </div>

    {% endfor %}
                <script>
                function go_delete(id) {
                    var user_pass = document.getElementById("user_pass").value;
                    alert("确定删除？你输入的密码是： " + user_pass)
                    if(user_pass != ""){
                        var usr = "/mark/mark/" + id + "/" + user_pass;
                        window.location = usr;
                    }
                    else {
                        alert("请输入密码！")
                    }
                }
            </script>
{% endblock %}